<nav class="w-full bg-white px-5 py-5 md:px-10">
    <div class="relative flex flex-wrap gap-5 lg:gap-10 justify-between lg:justify-center items-center">
        <ul class="lg:absolute left-0 flex flex-wrap gap-5 lg:gap-10 text-sm">
            <li> <a href="/" class="">
                    <span>NEW</span>
                </a></li>

            <li> <a href="/" class="">
                    <span>MENS</span>
                </a></li>

            <li> <a href="/" class="">
                    <span>WOMENS</span>
                </a></li>
            <li> <a href="/" class="">
                    <span>OUTLET SALE</span>
                </a></li>

        </ul>
        <div>
            <a href="/" class="font-semibold">
                <span>VANQUISH FITNESS</span>
            </a>
        </div>
        <div class="lg:absolute right-0">
            <ul class="flex gap-5">
                <li> <a href="/" class="">
                        <svg aria-hidden="true" fill="none" focusable="false" width="24"
                            class="header__nav-icon icon icon-account" viewBox="0 0 24 24">
                            <path
                                d="M16.125 8.75c-.184 2.478-2.063 4.5-4.125 4.5s-3.944-2.021-4.125-4.5c-.187-2.578 1.64-4.5 4.125-4.5 2.484 0 4.313 1.969 4.125 4.5Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M3.017 20.747C3.783 16.5 7.922 14.25 12 14.25s8.217 2.25 8.984 6.497"
                                stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
                        </svg> </a></li>

                <li> <a href="/" class="">
                        <svg aria-hidden="true" fill="none" focusable="false" width="24"
                            class="header__nav-icon icon icon-search" viewBox="0 0 24 24">
                            <path d="M10.364 3a7.364 7.364 0 1 0 0 14.727 7.364 7.364 0 0 0 0-14.727Z"
                                stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
                            <path d="M15.857 15.858 21 21.001" stroke="currentColor" stroke-width="2"
                                stroke-miterlimit="10" stroke-linecap="round"></path>
                        </svg> </a></li>

                <li> <a href="/" class="">
                        <svg aria-hidden="true" fill="none" focusable="false" width="24"
                            class="header__nav-icon icon icon-cart" viewBox="0 0 24 24">
                            <path
                                d="M4.75 8.25A.75.75 0 0 0 4 9L3 19.125c0 1.418 1.207 2.625 2.625 2.625h12.75c1.418 0 2.625-1.149 2.625-2.566L20 9a.75.75 0 0 0-.75-.75H4.75Zm2.75 0v-1.5a4.5 4.5 0 0 1 4.5-4.5v0a4.5 4.5 0 0 1 4.5 4.5v1.5"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg> </a></li>

            </ul>
        </div>
    </div>
</nav>