<section class="mx-4 my-20">
    <div class="flex flex-col items-center justify-center gap-5 bg-zinc-950 text-white p-5 min-h-[250px]">
        <h2 class="text-xl md:text-2xl text-center font-semibold">10% OFF YOUR FIRST ORDER + BE THE FIRST TO HEAR ABOUT
            RESTOCKS, NEW RELEASES & SALES</h2>
        <form class="flex flex-col md:flex-row items-center justify-center gap-4 w-full text-black">
            <input type="email" placeholder="Email" class="p-3 w-full" required>
            <button type="submit" class="button-red md:text-lg font-semibold text-nowrap">SIGN UP</button>
        </form>
    </div>
</section>